body{
  background-color: #bcbbbb21 !important;
}
* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

form {
  width: 40%;
  margin: auto;

  .form-control{
    background-color: #e3e3e300;
  }
}

.heading {
  text-align: center;
}